
/*page Animation*/
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  body {
    animation: fadeSlideIn 1s ease-in-out;
  }
  



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f7f3f3;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  200px;
}

.logo{
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}
.navigation a:hover{
    color: rgb(43, 6, 251);
}

section{
    padding: 100px 200px;
}


/*main*/
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: rgb(255, 2, 2);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 4em;
    font-weight: 500;
}
.main h3{
    color: red;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #ffffff;
    background-color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.937em  2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
background-color: #f25252;
transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 25px;
}
.title{
    display: flex;
    justify-content: center;
    color: #ff0000;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #f7f3f3;
    width: 21.25em;
    box-shadow: 0 5px 25px rgpa(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin-right: 25px;
    transition: 0.7s ease;
    margin-bottom: 50px;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: hsl(0, 100%, 50%);
    font-size: 8em;
    text-align: center;

}
.info{
    text-align: center;
}
.info h3{
    color: #ff0000;
    font-size: 2.2em;
    font-weight: 700;
    
}




/*pc*/
.PC{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid rgb(255, 0, 0);

}

.PC .content{
    margin-top: 50px;

}

.PC-card{
    background-color: #f7f3f3;
    border: 2px solid #ff0000; 
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;


}
.PC-card:hover{
    transform: scale(1.1);
}
.PC-card:hover{
    opacity: 0.9;
}
.PC-image img{
    width: 100%;
}
.PC-info{
    padding: 1em;
}
.PC-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 10px;
}

.Shop-Now{
    text-decoration: none;
    color: red;
}
.Shop-Now:hover{
    color: rgb(241, 130, 130)#f18282;
}


/*laptop*/
.Laptop{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid white;

}

.Laptop .content{
    margin-top: 50px;

}

.Laptop-card{
    background-color: hsl(0, 20%, 96%);
    border: 2px solid #ff0000; 
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.Laptop-card:hover{
    transform: scale(1.1);
}
.Laptop-card:hover{
    opacity: 0.9;
}
.Laptop-image img{
    width: 100%;
    object-fit: cover; 
}
.Laptop-info{
    padding: 1em;
    width: 100%; 
    text-align: center; 
}
.Laptop-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 10px;
}

.Shop-Now{
    text-decoration: none;
    color: red;
}
.Shop-Now:hover{
    color: #001aff;
}


/*Accessories*/
.Accessories{
    background-color: hwb(0 100% 0%);
    border: 1px solid #ff0000;

}

.Accessories .content{
    margin-top: 50px;

}

.Accessories-card{
    background-color: #f7f3f3;
    border: 2px solid #ff0000; 
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    transition: 0.7s ease;


}
.Accessories-card:hover{
    transform: scale(1.1);
}
.Accessories-card:hover{
    opacity: 0.9;
}
.Accessories-image img{
    width: 100%;
}
.Accessories-info{
    padding: 1.1em;
}
.Accessories-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 10px;
}

.Shop-Now{
    text-decoration: none;
    color: red;
}
.Shop-Now:hover{
    color: rgb(241, 130, 130)#f18282;
}




/*Team*/
.team{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span{
    color: #ff0000;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgb(255, 0, 0);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #ff0000;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
    font-weight: bold;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
    color: #dd2505;
}

.team .team_box .profile .info .team_icon i:hover{
    color: hsl(0, 100%, 50%);
}


/*contact*/
.contactus-header {
    color: hsl(0, 100%, 50%);
    font-size: 3rem;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.header-paragraph {
    color: #ff0000;
    font-size: large;
    font-weight: bold;
}

.Container-of-all-items {

    width: 80%;
    background-color: hsl(0, 0%, 79%);
    border-radius: 15px;
}

.line {
    width: 115px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    text-align: center;
}


label {
    color: rgb(255, 0, 0);
    ;
    font-size: x-large;
    font-weight: bold;
}


.labels-and-textFields input {
    height: 30px;
    margin-left: 60px;
    width: 40vh;
    border-color: rgb(255, 0, 0);
    border-width: 2px;
    border-radius: 5px;
}

#Email,
#Name {
    margin-left: 70px;
}

input::placeholder {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding: 5px;
}

textarea {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 45px;
    font-weight: bold;
    width: 350px;
    resize: none;
    height: 200px;
    border-color: #ff0000;
    border-width: 2px;
    border-radius: 20px;

}

textarea::placeholder {
    font-family: "Lato", sans-serif;
}


.submit-button input {
    color: #ffffff;
    background-color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.7em  2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.submit-button input:hover {
    background-color: #f25252;
transform: scale(1.1);
}




/**/
/*table*/
#tablehhh{
text-align: center;
color: rgb(250, 2, 2);
font-size: 900;
font-weight: 900;
margin-top: 100px;

}

.schedule-table-container
 {
  padding: 30px;
  width: 100%;
  margin-top: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  padding: 10px;
  text-align: center;
  border: none; 

}
    

.schedule-table th {
  
  background-color: #dd2505; /* Blue */
  color: white;
  border: none;

}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f8f9fa; /* Light gray */
}

.schedule-table tbody tr:hover {
    background-image: linear-gradient(to right, rgb(240, 16, 16), rgb(254, 255, 255));
}

/**/
/*Footer*/
.footer{
    background-color: hsl(249, 100%, 5%);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span{
    color: #ff0000;
}



@media (max-width: 1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;

    }

    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;

    }
    .main-content h3{
        font-size: 1.4em;
        
    }

}

@media (max-width:300px){
    body{
    font-size: 10px;
    }
}